# Copy this file to ~/.zsh_secrets and fill in values
# This file is gitignored - never commit the real .zsh_secrets

export HIVE_TOKEN=
export WEALTHSIMPLE_STAGING_DB=
export KRATOS_STAGING_DB=
export FORT_KNOX_STAGING_DB=
export AUTH_CLIENT_ID=
